[submodule "Quaver.API"]
	path = Quaver.API
	url = https://github.com/Quaver/Quaver.API
[submodule "Wobble"]
	path = Wobble
	url = https://github.com/Quaver/Wobble
[submodule "Quaver.Server.Client"]
	path = Quaver.Server.Client
	url = https://github.com/Quaver/Quaver.Server.Client
