# Quaver Configuration File
# Last Updated on: September 3, 2017

GameDirectory = C:\Quaver\
SongDirectory = C:\Quaver\Songs\
SkinsDirectory = C:\Quaver\Skins\
VolumeGlobal = 100
VolumeEffect = 25
VolumeMusic = 75
BackgroundDim = 100
WindowHeight = 900
WindowWidth = 1600
WindowFullScreen = false
WindowLetterboxed = false
CustomFrameLimit = 1000
FPSCounter = false
FrameTimeDisplay = false
Language = en
QuaverVersion = 0.1
QuaverBuildHash =  a9d10d92
ScrollSpeed = 34
ScrollSpeedBPMScale = false
DownScroll = true
GlobalOffset = 0
LeaderboardVisible = true
Skin = arpia97_skin
KeyManiaLane1 = A
KeyManiaLane2 = S
KeyManiaLane3 = Numpad4
KeyManiaLane4 = Numpad5
KeyScreenshot = F12
KeyQuickRetry = ~
KeyIncreaseScrollSpeed = F3
KeyDecreaseScrollSpeed = F4
KeyPause = ESC
KeyVolumeUp = UpArrow
KeyVolumeDown = DownArrow
TimingBars = True

